header{
	text-align: center;
    font-size: 30px;
    padding: 25px;
}
#main{
	width: 80%;
    border: 3px dashed black;
    margin: auto;
    background-color: rgb(244,244,244);
    padding-bottom: 1em;
    outline: 20px solid rgb(244,244,244);
}
.headType{
	float: left;
    padding: 10px;
    border-left: 1px solid rgb(170,170,170);
    //border-right: 1px solid rgb(170,170,170);
    background-color: rgb(222,222,222);
    width: 30%;
    text-align: center;
    font-size: 30px;
}
#homeLoan{
	background-color: rgb(244,244,244);
	border: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    margin-left: 5%;
    height: 8px;
    border-radius: 5px;
    background: blue;
    margin-top: 25px;
    margin-bottom: 25px;
    outline: none;
}
.divART{
	position: relative;
	top: 2em;
	//border: 1px solid green;
	font-size: 30px;
	width: 90%;
	margin-left: 5%;
}
.inputART{
	font-size: 25px;
	padding-left: 20px;
	height: 35px;
	width: 300px;
}
#calculation{
	height: 22em;
    margin-top: 5em;
    width: 45%;
    margin-left: 5%;
    //border: 1px solid red;
}
#loanEMI{
	height: 26%;
	border:1px dashed black;
	text-align: center;
	font-size: 20px;
	padding-top: 3%;
}
#totalInterest{
	height: 26%;
	border:1px dashed black;
	text-align: center;
	font-size: 20px;
	padding-top: 3%;
}
#totalPayment{
	height: 33%;
	border:1px dashed black;
	text-align: center;
	font-size: 20px;
	padding-top: 3%;
}
.calc{
	padding: 10px;
    font-size: 25px;
    border: 1px solid black;
    width: 45%;
    margin-left: 25%;
    background-color: #7171E7;
    border-radius: 10px;
    margin-top: 8px;
}
.radio{
	height: 20px;
	width: 20px;
}
#paichart{
	width: 49%;
    height: 22em;
    position: absolute;
    top: -353px;
    position: relative;
   // border: 1px solid red;
    float: right;
}
#stackChart{
	//border: 1px solid red;
    width: 80%;
    height: 20em;
    margin-top: 3em;
    position: relative;
    top: initial;
    left: 10%;
}

#intrestTable{
	//border: 1px solid red;
    width: 80%;
    margin-top: 3em;
    position: relative;
    top: initial;
    left: 10%;
}
table{
	border-collapse: collapse;

}
th{
	height: 3em;
    width: 13em;
    border: 1px solid black;
}
td{
	border: 1px solid black;
    width: 13em;
    height: 2em;
    text-align: center;

}
.tdYear{
	background-color: #EFC5E5;
	cursor: pointer;
}
.tdMonth{
	background-color:rgba(243, 202, 202, 0.62);
}
.monthRow{
	display: none;
}
#thMon{
	background-color: #8FE528;
}
#thInt{
	background-color: #ED8C2B;
}
#thPri{
	background-color: #88A825;
}
#thEmi{
	background-color: yellow;
}
#thBal{
	background-color: #FE08C2;
}

@media screen and (max-width:820px){
     #main{
        width:100%;
        border:none;
	//font-size:80%;     
    }

    header{
        font-size:20px;
    }

    .inputART{
    font-size: 25px;
    padding-left: 10px;
    height: 35px;
    width: 150px;
    }

    .headType{
        font-size:14px;
        width:27%;
        outline:none;
    }

    .divART{
        font-size:20px;
    }
    
    #time{
        width:80px;
    }
    #calculation{
        width:90%;
    }
    #paichart{
        width:80%;
        position:relative;
        top:0px;
        left:10%;
       // border:1px solid;
        margin-top:2em;
        float:none;
        height: 13em;

    }
    #intrestTable{
        width:98%;
        left:0%;
        top:-2em;

    }
    #stackChart{
        margin-top: 0em;
        height: 10em;
    }
    th{
        font-size:80%
    }
    td{
        font-size: 80%;
    }
}
@media screen and (max-width:380px){
	.headType{
		font-size:10px;
		width:25%;
	}
	.inputART{
		width:200px;
	}
	#time{
		width:40px;
		font-size:16px;

	}
	.calc{
		font-size:16px;
	}
}

